/*
    used for all panes in the background (lowest level)
*/
#myPane {
    -fx-background-color: linear-gradient(to bottom left, #4d4d4d, #727272, #4d4d4d);
}

/*
    used for a grey background on images to make text readable
*/
#myBackground,
.pagination .page {
    -fx-background-color: linear-gradient(to bottom left, rgba(48, 48, 48, 0.9), rgba(84, 84, 84, 0.9), rgba(48, 48, 48, 0.9));
    -fx-background-radius: 20;
    -fx-background-insets: 0, 1;
    -fx-padding: 7;
}

/*
    used for a selection without showing the radio button
*/
#selectionButton {
    -fx-background-color: rgba(50, 50, 50, 0.75);
}

#selectionButton:hover {
    -fx-background-color: rgba(22, 22, 22, 0.75);
}

/*
    PopUp/Dialog
*/
.dialog-pane {
    -fx-background-color: #4d4d4d;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: #4d4d4d;
}

.dialog-pane > .content {
    -fx-border-color: transparent;
    -fx-effect: none;
    -fx-background-color: #4d4d4d;
    -fx-font: 15px "Serif";
    -fx-text-fill: #96f52b;
}

.dialog-pane .header-panel {
    -fx-background-color: #4d4d4d;
}

.dialog-pane .header-panel .label {
    -fx-background-color: #4d4d4d;
    -fx-font: 24px "Serif";
    -fx-text-fill: #96f52b;
}

/*
    Labels which are not in the main menu
*/
#normalLabel .text {
    -fx-font: 16px "Serif";
    -fx-fill: #96f52b;
}

#normalTitle .text {
    -fx-font: 16px "Serif";
    -fx-fill: #96f52b;
    -fx-font-weight: bold;
}

#biggerLabel .text {
    -fx-font: 24px "Serif";
    -fx-font-weight: bold;
    -fx-fill: #96f52b;
}

#smallAlert .text {
    -fx-font: 13px "Serif";
    -fx-fill: #ff0000;
}

#normalAlert .text {
    -fx-font: 16px "Serif";
    -fx-fill: #ff0000;
    -fx-stroke: #720000;
    -fx-stroke-width: 0.35;
}

/*
    Button
*/
.button {
    -fx-background-color: linear-gradient(#a0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #646464 45%, #4d4d4d 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-font: 14px "Serif";
    -fx-text-fill: #96f52b;
}

.button:hover {
    -fx-background-color: linear-gradient(#8ceb21, #958700),
    radial-gradient(center 50% -40%, radius 200%, #505050 45%, #393939 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-font: 14px "Serif";
    -fx-text-fill: #96f52b;
}

/*
    Sidebar
*/
#navBar {
    -fx-pref-width: 300px;
    -fx-background-color: #282828;
    -fx-padding: 5 5 5 0;
    -fx-spacing: 5;
}

#navBarIcon {
    -fx-pref-width: 50px;
    -fx-background-color: #282828;
    -fx-padding: 25 5 5 5;
}

#navBarButton {
    -fx-background-color: inherit;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-width: 300px;
    -fx-pref-height: 100px;
    -fx-effect: null;
    /*Workaround as margin is not supported by css for JavaFX*/
    -fx-padding: 0 0 5 0;
    -fx-border-insets: 0 0 5 0;
    -fx-background-insets: 0 0 5 0;
}

#navBarIconButton {
    -fx-background-color: inherit;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-effect: null;
}

#navBarButton:hover, #navBarIconButton:hover {
    -fx-background-color: #323232;
}

#navBarButton .text {
    -fx-font: 24px "Serif";
    -fx-text-fill: #96f52b;
}

/*
    TableView / ListView
*/
.table-view {
    -fx-padding: 0;
    -fx-border-color: #90B931;
    -fx-background-color: transparent;
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-font: 15px "Serif";
    -fx-text-fill: #96f52b;
}

.list-view {
    -fx-padding: 0;
    -fx-border-color: #90B931;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-font: 15px "Serif";
    -fx-text-fill: #96f52b;
}

.column-header-background,
.filler {
    -fx-background-color: linear-gradient(#131313 0%, #414141 100%);
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
}

.column-header,
.column-header .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#centeredColumn,
#centeredList .list-cell {
    -fx-alignment: center;
}

.table-cell,
.list-cell {
    -fx-text-fill: white;
    -fx-padding: 0.0em;
}

.table-row-cell:odd,
.list-cell:odd {
    -fx-background-color: #424242AA;
    -fx-table-cell-border-color: #424242AA;
}

.table-row-cell:even,
.list-cell:even {
    -fx-background-color: #616161AA;
    -fx-table-cell-border-color: #616161AA;
}

.table-row-cell:selected,
.list-cell:selected {
    -fx-background-color: #50c252;
    -fx-table-cell-border-color: #50c252;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .placeholder {
    -fx-background-color: rgba(97, 97, 97, 35);
}

.table-view .placeholder .label {
    -fx-text-fill: #96f52b;
    -fx-font: 20px "Serif";
}

/*
    Scroll Bar
*/
.scroll-bar {
    -fx-background-color: #515151;
}

.scroll-bar .thumb {
    -fx-background-color: linear-gradient(#8ceb21, #958700, #8ceb21);
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-padding: 0.11em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:horizontal .decrement-arrow, .corner {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/*
    Menu Bar
*/
.menu-bar,
.menu,
.menu-item,
.context-menu,
.menu .label {
    -fx-background-color: #262626;
    -fx-text-fill: #96f52b;
}

.menu:hover,
.menu-item:hover,
.menu-item:focused {
    -fx-background-color: #616161;
    -fx-text-fill: #96f52b;
}

.menu .label,
.menu-item .label {
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
}

/*
    Progress Bar
*/
.progress-bar .track {
    -fx-background-color: transparent;
}

.progress-bar .bar {
    -fx-background-color: lime;
}

/*
    Progress Indicator
*/
.progress-indicator .determinate-indicator .percentage {
    -fx-fill: #96f52b;
}

.progress-indicator .determinate-indicator .indicator {
    -fx-background-color: linear-gradient(#a0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #646464 45%, #4d4d4d 50%);
}

.progress-indicator .determinate-indicator .progress {
    -fx-background-color: #96f52b;
}

/*
    Combo Box / Spinner
*/
.combo-box,
.choice-box,
.spinner {
    -fx-border-width: 1px;
    -fx-border-color: #90B931;
}

.combo-box .list-cell,
.choice-box .label,
.spinner .text-field {
    -fx-alignment: center;
}

.combo-box, .combo-box .list-cell,
.choice-box,
.spinner .text-field, .spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: linear-gradient(#a0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #646464 45%, #4d4d4d 50%);
    -fx-font: 15px "Serif";
    -fx-text-fill: #96f52b;
}

.combo-box .arrow-button,
.choice-box .arrow-button {
    -fx-border-width: 1px;
    -fx-border-color: #90B931;
}

.combo-box .arrow,
.choice-box .arrow,
.spinner .decrement-arrow {
    -fx-background-color: linear-gradient(to bottom, #8ceb21, #958700);
}

.spinner .increment-arrow {
    -fx-background-color: linear-gradient(to top, #8ceb21, #958700);
}

.choice-box .label {
    -fx-font: 15px "Serif";
    -fx-text-fill: #96f52b;
}

/*
    Check Box
*/
.check-box .box {
    -fx-background-color: linear-gradient(#a0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #646464 45%, #4d4d4d 50%);
    -fx-border-width: 1px;
    -fx-border-color: #90B931;
}

.check-box:selected .box .mark {
    -fx-background-color: #96f52b;
}

.check-box .text {
    -fx-font: 15px "Serif";
    -fx-fill: #96f52b;
}

/*
    Radio Button
*/
.radio {
    -fx-background-color: #585858;
    -fx-border-width: 1px;
    -fx-border-color: #90B931;
    -fx-border-radius: 10;
}

.radio .dot {
    -fx-mark-highlight-color: #97eb28;
    -fx-mark-color: #97EB28;
}

.radio-button .text {
    -fx-font: 15px "Serif";
    -fx-fill: #96f52b;
}

/*
    TextArea
*/
.text-area {
    -fx-border-width: 1px;
    -fx-border-color: #90B931;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-font: 14px "Serif";
    -fx-text-fill: #96f52b;
}

.text-area .content {
    -fx-background-color: linear-gradient(#a0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #646464 45%, #4d4d4d 50%);
    -fx-background-insets: 0, 1;
}

.text-area:readonly:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#logArea {
    -fx-font: 18px "Serif";
}

/*
    TextField
*/
.text-field {
    -fx-border-width: 1px;
    -fx-border-color: #90B931;
    -fx-background-color: linear-gradient(#a0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #646464 45%, #4d4d4d 50%);
    -fx-background-insets: 0, 1;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-font: 14px "Serif";
    -fx-text-fill: #96f52b;
}

/*
    Pagination
*/
.pagination-control .control-box .number-button,
.pagination-control .control-box .left-arrow-button,
.pagination-control .control-box .right-arrow-button {
    -fx-background-color: linear-gradient(#a0ff35, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #646464 45%, #4d4d4d 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-font: 14px "Serif";
    -fx-text-fill: #96f52b;
}

.pagination-control .control-box .number-button:hover,
.pagination-control .control-box .number-button:selected,
.pagination-control .control-box .left-arrow-button:hover,
.pagination-control .control-box .right-arrow-button:hover {
    -fx-background-color: linear-gradient(#8ceb21, #958700),
    radial-gradient(center 50% -40%, radius 200%, #505050 45%, #393939 50%);
}

.pagination-control .control-box .left-arrow-button .left-arrow,
.pagination-control .control-box .right-arrow-button .right-arrow {
    -fx-background-color: #a9ff00;
}

.pagination-control .page-information {
    -fx-background-color: linear-gradient(to bottom left, rgba(48, 48, 48, 0.85), rgba(84, 84, 84, 0.85), rgba(48, 48, 48, 0.85));
    -fx-background-radius: 3;
    -fx-padding: 1;
    -fx-font: 15px "Serif";
    -fx-text-fill: #96f52b;
}

/*
    Slider
*/
.slider .track {
    -fx-border-width: 1px;
    -fx-border-color: #90B931;
    -fx-control-inner-background: rgb(84, 84, 84);
}

.slider .thumb {
    -fx-background-color: linear-gradient(to bottom right, #8ceb21, #958700);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.slider .axis {
    -fx-tick-label-fill: #96f52b;
}

.slider .axis .axis-tick-mark,
.slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #96f52b;
}